* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat Alternates', sans-serif;
}

body {
    background-color: #6d6a6a59;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.drop-area {
    background-color: #ffffff;
    border: 5px dashed #ddd;
  height: 300px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.568) 5px 5px 35px;
}

.drop-area.active{
    background-color: #b8d4fe;
    color: black;
    border: 2px dashed #618ac9;
}

.drop-area h2{
    line-height: 2;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.drop-area span{
    font-size: 12px;
    color: #000;
}

.drop-area button{
    padding: 10px 25px;
    font-size: 15px;
    border: 0;
    outline: none;
    background-color: #5256ad;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    box-shadow: #618ac9 2px 2px 2px;
}

button:hover{
    background-color: #2d35c3;
}

.file-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px #ddd;
}

#preview{
    margin-top: 10px;
}

.status-text{
    padding: 0 10px;
}

.success{
    color: #52ad5a;
}

.failure{
    color: red;
}